<section class="row justify-content-end w-100 p-0 m-0">
  <div class="p-5 mt-4 shadow bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
      <h1 class="text-center display-5 fw-bold">Usuarios registrados</h1>
      <app-table [list]="listUsers"></app-table>
    </div>
  </div>

  <div class="mt-4 rounded-3">
    <div class="container-fluid">
      <h1 class="text-center display-5 fw-bold">Crear nuevos usuarios</h1>
      <app-register></app-register>
    </div>
  </div>
</section>
