<!-- Espcialidad -->
<section
  [hidden]="hiddenSpecialities"
  class="w-100 m-0 p-1 h-100 row justify-content-center align-items-center"
>
  <div class="bg-light shadow p-1 rounded col-lg-5 col-md-6 col-sm-8 p-3">
    <div class="row w-100 m-0 justify-content-center align-items-center">
      <h2 class="text-center">Elija una especialidad</h2>
      <img
        class="col-2 mt-1"
        src="../../../../../assets/images/appoinment/especialidad.png"
        alt="register_paciente"
      />
    </div>

    <div class="row w-100 mt-1 g-6 justify-content-center">
      <div class="text-center col-sm-6">
        <label for="specialitie" class="fw-bold text-center form-label"
          >Elija una especialidad:
        </label>
        <button
          *ngFor="let speciality of listOfSpecialities"
          class="btn btn-outline-danger form-control mt-1"
          (click)="chooseEspeciality(speciality.description)"
        >
          <img class="col-2 image-fluid" src="{{ speciality.image }}" alt="" />
          <p class="text-center">{{ speciality.description }}</p>
        </button>
      </div>
    </div>
  </div>
</section>

<!-- Paciente solo admin -->
<section
  [hidden]="hiddenPatients || userService.userLogged?.userRole !== 'admin'"
  class="w-100 m-0 p-1 h-100 row justify-content-center align-items-center"
>
  <div class="bg-light shadow p-1 rounded col-lg-5 col-md-6 col-sm-8 p-3">
    <div class="w-100 row justify-content-center justify-content-sm-end p-2">
      <button
        title="Volver"
        class="col-md-3 col-2 btn btn-warning"
        (click)="returnToSpecialities()"
      >
        <i class="fa-solid fa-circle-arrow-left"></i>
      </button>
    </div>
    <div class="row w-100 m-0 justify-content-center align-items-center">
      <h2 class="text-center">Elija un paciente</h2>
      <img class="col-2 mt-1" [src]="imgPatient" alt="register_paciente" />
    </div>

    <div class="row mt-1 g-6 justify-content-center">
      <div class="col-sm-6">
        <label for="specialitie" class="fw-bold text-center form-label"
          >Elija un paciente:
        </label>
        <div
          *ngFor="let patient of listOfPatients"
          class="form-check form-switch"
        >
          <label class="form-check-label" for="{{ patient.userId }}"
            >{{ patient.lastName }}, {{ patient.name }}</label
          >
          <input
            class="form-check-input"
            id="{{ patient.userId }}"
            type="radio"
            name="speciality"
            value="{{ patient }}"
            (click)="choosePatient(patient)"
          />
        </div>
      </div>
    </div>

    <input
      class="mt-3 w-100 btn btn-lg btn-outline-primary btn-block"
      type="button"
      value="Siguiente"
      (click)="confirmPatient()"
    />
  </div>
</section>
<!-- Especialistas -->
<section
  [hidden]="hiddenSpecialist"
  class="w-100 m-0 p-1 h-100 row justify-content-center align-items-center"
>
  <div class="bg-light shadow p-1 rounded col-lg-5 col-md-6 col-sm-8 p-3">
    <div class="w-100 row justify-content-center justify-content-sm-end p-2">
      <button
        title="Volver"
        class="col-md-3 col-2 btn btn-warning"
        (click)="returnToSpecialities()"
      >
        <i class="fa-solid fa-circle-arrow-left"></i>
      </button>
    </div>
    <div class="row w-100 m-0 justify-content-center align-items-center">
      <h2 class="text-center">Elija un espcialista</h2>
      <img
        class="col-2 mt-1"
        src="../../../../../assets/images/appoinment/especialista.png"
        alt="register_paciente"
      />
    </div>

    <div class="row mt-1 g-6 justify-content-center">
      <div class="row g-3 justify-content-center">
        <div class="col-sm-12">
          <div class="row justify-content-center">
            <label for="dni" class="text-center form-label"
              >Especialistas Disponibles:
            </label>
            <div
              *ngIf="
                listOfSpecialistsAvailable &&
                  listOfSpecialistsAvailable.length > 0;
                then blockThen;
                else blockElse
              "
            ></div>
            <ng-template #blockThen>
              <div class="d-flex flex-column">
                <div
                  class="row justify-content-center align-items-center"
                  *ngFor="let specialist of listOfSpecialistsAvailable"
                  (click)="chooseSpecialist(specialist)"
                >
                  <div
                    class="card btn btn-outline-success mt-1"
                    style="width: 10rem"
                  >
                    <div class="card-body w-100">
                      <h5 class="card-title text-center w-100">
                        {{ specialist.lastName }},
                        {{ specialist.name }}
                      </h5>
                    </div>
                    <img
                      class="w-100 p-1 m-0 img-fluid rounded-circle"
                      [src]="specialist.profilePhoto"
                      alt="photo_especilista"
                    />
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template #blockElse>Sin Especialistas</ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Fechas -->
<section
  [hidden]="hiddenDates"
  class="w-100 m-0 p-1 h-100 row justify-content-center align-items-center"
>
  <div class="bg-light shadow p-1 rounded col-lg-5 col-md-6 col-sm-8 p-3">
    <div class="w-100 row justify-content-center justify-content-sm-end p-2">
      <button
        title="Volver"
        class="col-md-3 col-2 btn btn-warning"
        (click)="returnToSpecialist()"
      >
        <i class="fa-solid fa-circle-arrow-left"></i>
      </button>
    </div>
    <div class="row w-100 m-0 justify-content-center align-items-center">
      <h2 class="text-center">Elija una fecha</h2>
      <img
        class="col-2 mt-1"
        src="../../../../../assets/images/appoinment/calendario.png"
        alt="register_paciente"
      />
    </div>

    <div class="row mt-1 g-6 justify-content-center">
      <div class="row g-3 justify-content-center">
        <div class="col-sm-12">
          <div class="row justify-content-center">
            <label for="days" class="text-center form-label"
              >Dias Disponibles:
            </label>
            <div
              *ngIf="
                listOfAvailablesDays && listOfAvailablesDays.length > 0;
                then blockThenSchedule;
                else blockElseSchedule
              "
            ></div>
            <ng-template #blockThenSchedule>
              <button
                class="m-1 col-6 btn btn-outline-success"
                *ngFor="let availableDay of listOfAvailablesDays"
                (click)="chooseDay(availableDay)"
              >
                {{ availableDay.dayOfWeek }} - {{ availableDay.date }}
              </button>
            </ng-template>
            <ng-template #blockElseSchedule
              >El especialista no tiene agenda aun</ng-template
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Horarios -->
<section
  [hidden]="hiddenTimes"
  class="w-100 m-0 p-1 h-100 row justify-content-center align-items-center"
>
  <div class="bg-light shadow p-1 rounded col-lg-5 col-md-6 col-sm-8 p-3">
    <div class="w-100 row justify-content-center justify-content-sm-end p-2">
      <button
        title="Volver"
        class="col-md-3 col-2 btn btn-warning"
        (click)="returnToDate()"
      >
        <i class="fa-solid fa-circle-arrow-left"></i>
      </button>
    </div>
    <div class="row w-100 m-0 justify-content-center align-items-center">
      <h2 class="text-center">Elija un horario</h2>
      <img
        class="col-2 mt-1"
        src="../../../../../assets/images/appoinment/horario.png"
        alt="register_paciente"
      />
    </div>

    <div class="row justify-content-center">
      <label for="days" class="text-center form-label"
        >Horarios Disponibles:
      </label>
      <div
        *ngIf="
          listOfAvailablesTimes && listOfAvailablesTimes.length > 0;
          then blockThenTimes;
          else blockElseTimes
        "
      ></div>
      <ng-template #blockThenTimes>
        <button
          class="m-1 col-4 btn btn-outline-success"
          *ngFor="let availableTime of listOfAvailablesTimes"
          (click)="chooseTime(availableTime)"
        >
          {{ availableTime.timeStart }} - {{ availableTime.timeStart }}
        </button>
      </ng-template>
      <ng-template #blockElseTimes
        >El especialista no tiene horarios aun para la fecha</ng-template
      >
    </div>
  </div>
</section>
