.text-shadow {
  background-color: whitesmoke;
  opacity: 75%;
  padding: 0.3rem;
  border-radius: 1rem;
  text-shadow: 0.1rem 0.1rem 0.5rem tomato;
  font-weight: bold;
}
@keyframes in-circle-swoop {
  from {
    clip-path: var(--circle-top-right-out);
  }
  to {
    clip-path: var(--circle-bottom-right-in);
  }
}

[transition-style="in:custom:circle-swoop"] {
  --transition__duration: 5s;
  animation-name: in-circle-swoop;
}
