<nav class="p-2 navbar sticky-top" [ngStyle]="{ 'background-color': 'tomato' }">
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="offcanvas"
    data-bs-target="#offcanvasNavbar"
    aria-controls="offcanvasNavbar"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <img
    [ngStyle]="{ width: '64px' }"
    src="../../../assets/images/clinica-online-logo.png"
    alt="logo"
  />
  <div
    class="offcanvas offcanvas-start"
    tabindex="-1"
    id="offcanvasNavbar"
    aria-labelledby="offcanvasNavbarLabel"
  >
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Clinica Online</h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <div class="offcanvas-body">
      <div *ngIf="userService.userLogged" class="d-flex">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                [src]="userService.userLogged.profilePhoto || imgDefault"
                alt="img-usuario"
                [ngStyle]="{ width: '32px', 'border-radius': '100%' }"
              />{{ userService.userLogged.lastName }},
              {{ userService.userLogged.name }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a
                  class="dropdown-item"
                  data-bs-dismiss="offcanvas"
                  (click)="signOut()"
                  >Logout</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="welcome"
            routerLinkActive="badge text-bg-danger"
            data-bs-dismiss="offcanvas"
            >Home</a
          >
        </li>
        <li *ngIf="!userService.userLogged" class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="login"
            routerLinkActive="badge text-bg-danger"
            data-bs-dismiss="offcanvas"
            >Ingresa</a
          >
        </li>
        <li *ngIf="!userService.userLogged" class="nav-item">
          <a
            class="nav-link"
            routerLink="register"
            routerLinkActive="badge text-bg-danger"
            data-bs-dismiss="offcanvas"
            >Registrate</a
          >
        </li>
        <li
          *ngIf="
            userService.userLogged &&
            userService.userLogged.userRole === 'admin'
          "
          class="nav-item"
        >
          <a
            class="nav-link"
            routerLink="users"
            routerLinkActive="badge text-bg-danger"
            data-bs-dismiss="offcanvas"
            >Usuarios</a
          >
        </li>

        <div
          *ngIf="
            userService.userLogged &&
            userService.userLogged.userRole !== 'specialist'
          "
          class="d-flex"
        >
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                routerLinkActive="badge text-bg-danger"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                ><span
                  [routerLink]="
                    userService.userLogged.userRole !== 'admin'
                      ? 'appoinments/myappoinments'
                      : 'appoinments'
                  "
                  >{{
                    userService.userLogged.userRole !== "admin"
                      ? "Mis Turnos"
                      : "Turnos"
                  }}</span
                ></a
              >

              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li
                  *ngIf="
                    userService.userLogged &&
                    (userService.userLogged.userRole === 'patient' ||
                      userService.userLogged.userRole === 'admin')
                  "
                  class="nav-item"
                >
                  <a
                    class="dropdown-item"
                    routerLinkActive="badge text-bg-danger"
                    routerLink="appoinments/createappoinments"
                    data-bs-dismiss="offcanvas"
                    >Solicitar Turno</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <li
          *ngIf="
            userService.userLogged &&
            userService.userLogged.userRole === 'specialist'
          "
          class="nav-item"
        >
          <a
            class="nav-link"
            routerLinkActive="badge text-bg-danger"
            [routerLink]="'appoinments/myappoinments'"
            data-bs-dismiss="offcanvas"
            >{{ "Mis Turnos" }}</a
          >
        </li>

        <li
          *ngIf="
            userService.userLogged &&
            userService.userLogged.userRole === 'specialist'
          "
          class="nav-item"
        >
          <a
            class="nav-link"
            routerLink="patients"
            routerLinkActive="badge text-bg-danger"
            data-bs-dismiss="offcanvas"
            >Pacientes</a
          >
        </li>

        <li *ngIf="userService.userLogged" class="nav-item">
          <a
            class="nav-link"
            routerLink="myprofile"
            routerLinkActive="badge text-bg-danger"
            data-bs-dismiss="offcanvas"
            >Mi Perfil</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
