<section class="h-100 p-4">
  <div class="row w-100 justify-content-center">
    <div class="col-5">
      <input
        class="form-control p-2 mb-2"
        type="text"
        placeholder="Buscar turno"
        (keyup)="searchAppoinment($event)"
      />
    </div>
  </div>
  <div
    *ngIf="userRole === 'patient'"
    class="bg-light shadow p-2 rounded table-responsive"
  >
    <app-table-appoinments
      *ngIf="listOfAppoinments"
      [listOfAppoinments]="listOfAppoinments | patientappoinmentlist"
      (eventSendSelectedElement)="chooseAppoinment($event)"
    ></app-table-appoinments>
  </div>

  <div
    *ngIf="userRole === 'specialist'"
    class="bg-light shadow p-2 rounded table-responsive"
  >
    <app-table-appoinments
      *ngIf="listOfAppoinments"
      [listOfAppoinments]="listOfAppoinments | specialistappoinmentlist"
      (eventSendSelectedElement)="chooseAppoinment($event)"
      (eventSendState)="acceptedAppoinment($event)"
    ></app-table-appoinments>
  </div>

  <div
    *ngIf="userRole === 'admin'"
    class="bg-light shadow p-2 rounded table-responsive"
  >
    <app-table-appoinments
      *ngIf="listOfAppoinments"
      [listOfAppoinments]="listOfAppoinments | adminappoinmentlist"
      (eventSendSelectedElement)="chooseAppoinment($event)"
      (eventSendState)="acceptedAppoinment($event)"
    ></app-table-appoinments>
  </div>
</section>
