<table *ngIf="listOfAppoinments" class="table table-striped table-ligth">
  <thead class="table-dark">
    <tr>
      <ng-container
        *ngFor="let item of (listOfAppoinments | any)[0] | keyvalue"
      >
        <ng-template
          *ngIf="item.key !== 'Objeto'; then thenThBlock"
        ></ng-template>
        <ng-template #thenThBlock>
          <th class="text-center fw-bold" #thenThBlock>
            {{ item.key }}
          </th></ng-template
        >
      </ng-container>
      <th *ngIf="listOfAppoinments.length > 0" class="text-center fw-bold">
        ACCION
      </th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr *ngFor="let element of listOfAppoinments | any">
      <ng-container *ngFor="let item of element | keyvalue">
        <ng-template
          *ngIf="item.key !== 'Objeto'; then thenTdBlock"
        ></ng-template>

        <ng-template #thenTdBlock>
          <ng-template
            *ngIf="
              item.key === 'Calificacion brindada' ||
                item.key === 'Calificacion recibida';
              then thenRatingBlock;
              else elseNoRatingBlock
            "
          ></ng-template>
          <ng-template #thenRatingBlock>
            <td class="text-center">
              <p-rating
                [(ngModel)]="item.value"
                [readonly]="true"
                [cancel]="false"
              ></p-rating></td
          ></ng-template>
          <ng-template #elseNoRatingBlock>
            <ng-template
              *ngIf="
                item.key === 'Aceptar turno' &&
                  element.Objeto.state === 'pending';
                then thenAceptarBlock;
                else elseValueBlock
              "
            ></ng-template>
            <ng-template #thenAceptarBlock>
              <td class="text-center">
                <i
                  class="btn btn-outline-success fa-solid fa-circle-check"
                  (click)="acceptedAppoinment(element.Objeto)"
                ></i></td
            ></ng-template>
            <ng-template #elseValueBlock>
              <td class="text-center">
                {{ item.value }}
              </td></ng-template
            >
          </ng-template>
        </ng-template>
      </ng-container>

      <td *ngIf="listOfAppoinments.length > 0" class="text-center">
        <button
          [ngClass]="'btn btn-outline-success'"
          (click)="chooseElement(element.Objeto)"
        >
          Seleccionar
        </button>
      </td>
    </tr>
  </tbody>
</table>
