<section class="h-100 p-4">
  <div class="table-responsive">
    <table *ngIf="appoinmentList" class="table table-striped table-ligth">
      <thead class="table-dark">
        <tr>
          <th
            class="text-center fw-bold"
            *ngFor="let item of appoinmentList[0] | keyvalue"
          >
            {{ item.key | uppercase }}
          </th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr *ngFor="let element of appoinmentList">
          <td class="text-center" *ngFor="let item of element | keyvalue">
            <div *ngIf="item.value">
              {{ item.value }}
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
