<section class="row justify-content-center w-100 m-0 p-0">
  <div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <app-loading [loading]="loading"></app-loading>
    <div [hidden]="loading" class="container-fluid py-5">
      <h1 class="display-5 fw-bold">
        Listado de turnos de:
        <span class="badge rounded-pill text-bg-danger">
          {{ userService.userLogged?.lastName }},
          {{ userService.userLogged?.name }}</span
        >
      </h1>

      <app-list-appoinment
        [userRole]="userService.userLogged?.userRole!"
        [listOfAppoinments]="listOfAppoinments"
        (eventChooseAppoinment)="handlerChooseAppoinment($event)"
        (eventFilterTable)="searchAppoinment($event)"
      ></app-list-appoinment>
    </div>
  </div>

  <div class="row align-items-md-stretch justify-content-center">
    <div class="m-md-3 mt-1 col-md-5">
      <div class="h-100 p-5 bg-body-tertiary border rounded-3">
        <h2>Cancelar turno</h2>
        <textarea
          class="w-100 border rounded-3"
          name="motivos"
          id="motivos"
          cols="30"
          maxlength="255"
          rows="10"
          [(ngModel)]="reason"
          placeholder="Ingrese los motivos por el cual desea cancelar el turno"
        ></textarea>
        <button
          class="btn btn-outline-danger"
          type="button"
          (click)="cancelAppoinment()"
        >
          Cancelar
        </button>
      </div>
    </div>
    <div class="m-md-3 mt-1 col-md-5">
      <div class="h-100 p-5 bg-body-tertiary border rounded-3">
        <h2>Ver reseña</h2>
        <p>Aca va la reseña</p>
      </div>
    </div>
    <div class="m-md-3 mt-1 col-md-5">
      <div class="h-100 p-5 bg-body-tertiary border rounded-3">
        <h2>Competar ecuesta</h2>
      </div>
    </div>
    <div class="m-md-3 mt-1 col-md-5">
      <div class="h-100 p-5 bg-body-tertiary border rounded-3">
        <h2>Calificar Atencion</h2>
        <div
          *ngFor="let item of listCalification"
          class="form-check form-check-inline"
        >
          <input
            class="form-check-input"
            type="radio"
            name="calification"
            id="inlineRadio-{{ item }}"
            value="option1"
          />
          <label class="form-check-label" for="inlineRadio-{{ item }}">{{
            item
          }}</label>
        </div>
        <div class="row">
          <button class="btn btn-outline-secondary" type="button">
            Enviar calification
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
